{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/.css' %}">
    <meta charset="utf-8">
    <style>
    
      </style>
  </head>
  <body>
    <p>
        <h5 class="title">定期出勤入力</h5>
        <a class="logout" href="{% url 'start' %}">ログアウト</a>
    </p>
    <table class="table1" border="1" width="90%" >
        <thead>
            <tr style="text-align: right;">
              <th></th>
              <th>0</th>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
              <th>11</th>
              <th>12</th>
              <th>13</th>
              <th>14</th>
              <th>15</th>
              <th>16</th>
              <th>17</th>
              <th>18</th>
              <th>19</th>
              <th>20</th>
              <th>21</th>
              <th>22</th>
              <th>23</th>
              <th>24</th>
              <th>25</th>
              <th>26</th>
              <th>27</th>
              <th>28</th>
              <th>29</th>
              <th>30</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>0</th>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
            </tr>
            <tr>
              <th>3</th>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
            </tr>
            <tr>
              <th>4</th>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
            </tr>
            <tr>
              <th>5</th>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
            </tr>
            <tr>
              <th>6</th>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
              <td>休</td>
              <td>0.0</td>
              <td>0.0</td>
            </tr>
          </tbody>
    </table>
   
    <a class="a_close" href="{% url 'start' %}">閉じる</a>
  </body>