{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/.css' %}">
    <meta charset="utf-8">
  </head>
  <body>
    <p>
      <label for="id">ID:</label>
      <input id="id" type="id">
    </p>
    <p>
      <label for="password">PASSWORD:</label>
      <input id="password" type="password">
    </p>
    <p>
      <a class="a_button" href="{% url 'choice_page' %}">login</a>
    </p>
    <p>
    
    </p>
  </body>

</html>
